<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>
</head>
<body>
<h1>CADASTRO/LOGIN</h1>
<div id="links">
    
    <div class="bloco">
        <h2>cadastrar</h2>
        <div class="button"><a href="{% url 'listas:cadastrar' %}">Cadastro</a></div>
    </div>


    <div class="bloco">
        <h2>login</h2>
        <div class="button"><a href="{% url 'listas:login' %}">Login</a></div>

    </div>
</div>
</body>
</html>