<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'listas:addlista' %}">Criar Lista</a>
    <a href="{% url 'listas:addproduto' %}">Adicionar Produto</a>
    <h2>-=-=-=-Listas-=-=-=-</h2>
    {% for lista in listas %}
        <h2>{{ lista.nomelista }} --- <a href="{% url 'listas:apagarlista' lista.id %}">Apagar Lista</a></h2>
        {%for produto in produtos%}
                <li>{{produtos.nomeproduto}} <a href="{% url 'listas:editarlista' produto.id %}">Editar</a></li> 
                <a href="{% url 'listas:apagarproduto' produto.id %}">Apagar Produto</a></li>
                {% if produtos.precoproduto > 0%}
                    <li><p>Valor: {{produtos.precoproduto}}</p></li>
                {%endif%}
            {%endif%}
        {% endfor %}
    {% endfor %}
</body>
</html>